{% extends 'index.html' %}

{% block title %}
    Hotel Senai
{% endblock %}

{% block nav %}
    {% include 'nav2.html' %} 
{% endblock %}

{% block body %}

    <style>
        /* Estilo para o card do formulário */
        .form-card {
            width: 500px; /* Largura aumentada */
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Estilo para o formulário */
        form {
            margin-top: 20px;
        }

        /* Estilo para os rótulos */
        label {
            display: block;
            margin-bottom: 5px;
        }

        /* Estilo para os campos de entrada */
        input[type="text"],
        input[type="email"],
        input[type="date"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box; /* Garante que o padding não aumente a largura do input */
        }

        /* Estilo para o botão de envio */
        input[type="submit"] {
            background-color: #ffffff; /* Cor de fundo do botão */
            color: #000; /* Cor do texto do botão */
            padding: 10px 20px; /* Espaçamento interno do botão */
            border: 1px solid #000; /* Define a largura e cor da borda do botão */
            border-radius: 5px; /* Borda arredondada */
            cursor: pointer; /* Cursor ao passar sobre o botão */
            transition: background-color 0.3s ease; /* Transição suave ao passar o mouse sobre o botão */
        }

        input[type="submit"]:hover {
            background-color: #d1d4d7; /* Cor de fundo do botão ao passar o mouse */
        }
        .alert {
            color: #d9534f;
            font-size: 14px;
            margin-bottom: 10px;
        }
    </style>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8"> <!-- Largura aumentada para 8 colunas -->
                <div class="card form-card mt-5 mb-5">
                    <div class="card-body">
                        <h2>Faça Login!</h2>
                        {% if error %}
                            <div class="alert">{{ error }}</div>
                        {% endif %}
                        <form action="login" method="post">
                           {% csrf_token %}
                           {{ form }}
                           <div class="text-center">
                               <input type="submit" value="Submit" class="btn mt-4">
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

